<!-- Navbar -->
<nav class="navbar fixed-top dark-color navbar-dark navbar-expand-lg padding">
    <div class="container-fluid">
        <a class="navbar-brand large-large-text" href="/" name='home'>Nature's Gallery</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse large-text" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/" class="nav-link active" aria-current="page">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/add-image">Add Image</a>
                </li>
            </ul>
        </div>
    </div>
</nav>